<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Favicon -->
<link rel="icon" th:href="@{/assets/images/brand/favicon.ico}"
	type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.png}" />

<!-- Title -->
<title>Student Home</title>

<!--Bootstrap.min css-->
<link rel="stylesheet"
	th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

<!-- Dashboard css -->
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />

<!-- Custom scroll bar css-->
<link
	th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}"
	rel="stylesheet" />

<!-- Sidemenu css -->
<link th:href="@{/assets/plugins/toggle-sidebar/full-sidemenu-dark.css}"
	rel="stylesheet" />

<!--Daterangepicker css-->
<link
	th:href="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}"
	rel="stylesheet" />

<!-- Rightsidebar css -->
<link th:href="@{/assets/plugins/sidebar/sidebar.css}" rel="stylesheet">

<!-- Sidebar Accordions css -->
<link
	th:href="@{/assets/plugins/accordion1/css/easy-responsive-tabs.css}"
	rel="stylesheet">

<!-- Owl Theme css-->
<link th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}"
	rel="stylesheet">

<!-- Morris  Charts css-->
<link th:href="@{/assets/plugins/morris/morris.css}" rel="stylesheet" />

<!-- File Uploads css-->
<link th:href="@{/assets/plugins/fileuploads/css/dropify.css}"
	rel="stylesheet" type="text/css" />

<!--Daterangepicker css-->
<link
	th:href="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}"
	rel="stylesheet" />

<!-- Time picker css-->
<link th:href="@{/assets/plugins/time-picker/jquery.timepicker.css}"
	rel="stylesheet" />

<!-- Date Picker css-->
<link th:href="@{/assets/plugins/date-picker/spectrum.css}"
	rel="stylesheet" />

<!---Font icons css-->
<link th:href="@{/assets/plugins/iconfonts/plugin.css}" rel="stylesheet" />
<link th:href="@{/assets/plugins/iconfonts/icons.css}" rel="stylesheet" />
<link th:href="@{/assets/fonts/fonts/font-awesome.min.css}"
	rel="stylesheet">

</head>
	<body class="bg-account">
	    <!-- page -->
		<div class="page">

			<!-- page-content -->
			<div class="page-content">
				<div class="container text-center text-dark">
					<div class="display-1  text-dark mb-5">404</div>
					<p class="h5 font-weight-normal mb-7 leading-normal">No se encontró la página :(</p>
					<a class="btn btn-primary  mb-5" th:href="@{/home/dashboard}">
						Vuelve al inicio
					</a>
				</div>
			</div>
			<!-- page-content end -->
		</div>
		<!-- End Page -->

	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Jquery js-->
	<script th:src="@{/assets/js/vendors/jquery-3.2.1.min.js}"></script>

	<!--Bootstrap.min js-->
	<script th:src="@{/assets/plugins/bootstrap/popper.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

	<!--Jquery Sparkline js-->
	<script th:src="@{/assets/js/vendors/jquery.sparkline.min.js}"></script>

	<!-- Chart Circle js-->
	<script th:src="@{/assets/js/vendors/circle-progress.min.js}"></script>

	<!-- Star Rating js-->
	<script th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

	<!--Moment js-->
	<script th:src="@{/assets/plugins/moment/moment.min.js}"></script>

	<!-- Daterangepicker js-->
	<script
		th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

	<!--Side-menu js-->
	<script th:src="@{/assets/plugins/toggle-sidebar/sidemenu.js}"></script>

	<!-- Sidebar Accordions js -->
	<script th:src="@{/assets/plugins/accordion1/js/easyResponsiveTabs.js}"></script>

	<!-- Custom scroll bar js-->
	<script
		th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js}"></script>

	<!--Owl Carousel js -->
	<script th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/assets/plugins/owl-carousel/owl-main.js}"></script>

	<!-- Rightsidebar js -->
	<script th:src="@{/assets/plugins/sidebar/sidebar.js}"></script>

	<!-- Charts js-->
	<script th:src="@{/assets/plugins/chart/chart.bundle.js}"></script>
	<script th:src="@{/assets/plugins/chart/utils.js}"></script>

	<!-- File uploads js -->
	<script th:src="@{/assets/plugins/fileuploads/js/dropify.js}"></script>
	<script th:src="@{/assets/plugins/fileuploads/js/dropify-demo.js}"></script>

	<!--Select2 js -->
	<script th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
	<script th:src="@{/assets/js/select2.js}"></script>

	<!--Time Counter js-->
	<script
		th:src="@{/assets/plugins/counters/jquery.missofis-countdown.js}"></script>
	<script th:src="@{/assets/plugins/counters/counter.js}"></script>

	<!--Morris  Charts js-->
	<script th:src="@{/assets/plugins/morris/raphael-min.js}"></script>
	<script th:src="@{/assets/plugins/morris/morris.js}"></script>

	<!-- Custom-charts js-->
	<script th:src="@{/assets/js/index1.js}"></script>

	<!-- Timepicker js -->
	<script th:src="@{/assets/plugins/time-picker/jquery.timepicker.js}"></script>
	<script th:src="@{/assets/plugins/time-picker/toggles.min.js}"></script>

	<!-- Datepicker js -->
	<script th:src="@{/assets/plugins/date-picker/spectrum.js}"></script>
	<script th:src="@{/assets/plugins/date-picker/jquery-ui.js}"></script>
	<script th:src="@{/assets/plugins/input-mask/jquery.maskedinput.js}"></script>

	<!-- Custom js-->
	<script th:src="@{/assets/js/custom.js}"></script>

	</body>
</html>