<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="StudentHome ClownSquad">

<link rel="shortcut icon" th:href="@{/favicon.png}">
<link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/apple-touch-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/apple-touch-icon-114x114.png}">
<title>Student Home</title>

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i"
	rel="stylesheet">

<link th:href="@{/css/style.css}" rel="stylesheet" media="screen">
</head>
<body class="body-fullpage">

	<div class="loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>

	<div class="click-capture"></div>

	<div class="menu">
		<span class="close-menu icon-cross right-boxed"></span>

		<nav class="nav mobile-menu menu-pagepiling">
			<ul class="menu-list right-boxed">
				<li><a data-menuanchor="main" href="#main">Home</a></li>
				<li><a data-menuanchor="about" href="#about">Our
						commitment</a></li>
				<li><a data-menuanchor="projects" href="#projects">Subscriptions</a>
				</li>
				<li><a data-menuanchor="contacts" href="#contacts">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="menu-footer right-boxed">
			<div class="social-list">
				<a href="#" class="icon ion-social-twitter"></a> <a href="#"
					class="icon ion-social-facebook"></a>

			</div>
			<div class="copy">
				©ClownSquad. All Rights Reserved<br> Design by ClownSquad
			</div>
		</div>
	</div>

	<header class="navbar navbar-2 navbar-white boxed">
		<div class="navbar-bg"></div>
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#navbar-collapse" aria-expanded="false">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="brand" href="#"> <img class="brand-img" alt=""
			th:src="@{/images/brandNew.jpg}"> <img
			class="brand-img-white" alt="" th:src="@{/images/brandNew.jpg}">
			<div class="brand-info">
				<div class="brand-name">Student</div>
				<div class="brand-text">Home</div>
			</div>
		</a>
		<div class="social-list hidden-xs">
			<a href="#" class="icon ion-social-twitter"></a> <a href="#"
				class="icon ion-social-facebook"></a>
		</div>
	</header>

	<div class="copy-bottom white boxed">© ClownSquad 2021.</div>

	<div class="pagepiling">

		<div class="pp-scrollable scrollable-home text-white section">
			<div class="scroll-wrap">
				<div class="section-bg"
					style="background-image: url(/images/bg/bg1.jpg);"></div>
				<div class="scrollable-content">
					<div class="vertical-centred">
						<div class="boxed boxed-inner">
							<div class="vertical-title hidden-xs hidden-sm">
								<span>Introduce</span>
							</div>
							<div class="boxed">
								<div class="container">
									<div class="intro">
										<div class="row">
											<div class="col-md-8 col-lg-6">
												<p class="subtitle-top">
													Bienvenidos a<br>StudentHome
												</p>
												<h1 class="display-1 text-white">
													<span class="text-primary">Tu hogar</span> perfecto para
													estudiar
												</h1>
												<div style="margin-top: 20px">
													<a th:href="@{'login'}"><button class="btn btn-register">Registrarse</button></a>	
													<a th:href="@{'login'}"><button class="btn btn-login" >Iniciar Sesión</button></a>												
												</div>
												<div class="hr-bottom"></div>
											</div>
											<div>
												<div class="col-md-8 col-lg-6">
													<iframe width="756" height="504"
														src=""
														frameborder="0"
														allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
														allowfullscreen></iframe>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section-white pp-scrollable scrollable-about section">
			<div class="scroll-wrap">
				<div class="scrollable-content">
					<div class="vertical-centred">
						<div class="boxed boxed-inner">
							<div class="vertical-title text-dark hidden-xs hidden-sm">
								<span>what we do</span>
							</div>
							<div class="boxed">
								<div class="container">
									<div class="intro">
										<div class="row">
											<div class="col-md-5 col-lg-5">
												<h2 class="title-uppercase">
													Nuestro objetivo es encontrar un<br> <span
														class="text-primary"> lugar ideal</span><br> para tus
													necesidades
												</h2>
												<ul class="service-list">
													<li>01. Cercano a tu centro de estudios</li>
													<li>02. Adecuado a tu presupuesto</li>
													<li>03. Confiable</li>
													<li>04. Acogedor</li>
												</ul>
											</div>
											<div
												class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
												<div class="dots-image-2">
													<img alt="" class="img-responsive"
														th:src="@{/images/1-470x490.jpg}">
													<div class="dots"></div>
													<div class="experience-info">														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="pp-scrollable scrollable-projects text-white section">
			<div class="scroll-wrap">
				<div class="bg-changer">
					<div class="section-bg"
						style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg/bg2.jpg);"></div>
					<div class="section-bg"
						style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg/bg2-2.jpg);"></div>
					<div class="section-bg"
						style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg/bg2-3.jpg);"></div>
										
					<div class="section-bg" style="linear-gradient: (   rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), background-image:url(/images/bg/bg2-6.jpg)"></div>
				</div>
				<div class="scrollable-content">
					<div class="vertical-centred">
						<div class="boxed boxed-inner">
							<div class="vertical-title hidden-xs hidden-sm">
								<span>Nuestras Ofertas</span>
							</div>
							<div class="boxed">
								<div class="container">
									<div class="intro">
										<div class="row">
											<div class="col-md-12">
												<h2 class="title-uppercase text-white">Para ti
													arrendador</h2>
												<div class="row-project-box row">

													<div class="col-project-box col-sm-6 col-md-4 col-lg-3">
														<a href="#project1"
															class="project-box popup-with-zoom-anim">
															<div class="project-box-inner">
																<h5>
																	Suscripción Básica<br>
																</h5>
																<div class="project-category">Detalles</div>
																<div class="project-category">S/ 15.00/mes</div>
															</div>
														</a>

														<div id="project1"
															class="container zoom-anim-dialog mfp-hide">
															<div class="row">
																<div class="col-lg-8">
																	<img alt="" class="project-detail-img"
																		th:src="@{/images/projects/interior/1-680x680.jpg}">
																</div>
																<div class="col-lg-4">
																	<h3 class="project-detail-title">Suscripcion
																		Básica</h3>
																	<p class="project-detail-text">Alquila tu propiedad
																		en el menor tiempo posible mediante avisos a bajo
																		costo y mantén un registro de los pagos de tus
																		propiedades</p>
																	<ul class="project-detail-list text-dark">
																		<li><span class="left">Tarifa:</span> <span
																			class="right">S/ 15.00 mensuales</span></li>
																		<li><span class="left">Máxima cantidad de
																				avisos:</span> <span class="right">Hasta 3 avisos</span></li>
																		<li><span class="left">Herramientas
																				disponibles:</span> <span class="right">Registro de
																				pagos</span></li>

																	</ul>

																</div>
															</div>
														</div>
													</div>

													<div class="col-project-box col-sm-6 col-md-4 col-lg-3">
														<a href="#project2"
															class="project-box popup-with-zoom-anim">
															<div class="project-box-inner">
																<h5>Suscripción Premium</h5>
																<div class="project-category">Detalles</div>
																<div class="project-category">S/ 30.00/mes</div>
															</div>
														</a>

														<div id="project2"
															class="container zoom-anim-dialog mfp-hide">
															<div class="row">
																<div class="col-lg-8">
																	<img alt="" class="project-detail-img"
																		th:src="@{/images/projects/interior/2-680x680.jpg}">
																</div>
																<div class="col-lg-4">
																	<h3 class="project-detail-title">Suscripción
																		Premium</h3>
																	<p class="project-detail-text">Obtén una cantidad
																		ilimitada de avisos en simultáneo y obtén nuevas
																		herramientas para contactar con tus potenciales
																		inquilinos</p>
																	<ul class="project-detail-list text-dark">
																		<li><span class="left">Tarifa:</span> <span
																			class="right">S/ 30.00 mensuales</span></li>
																		<li><span class="left">Máxima cantidad de
																				avisos:</span> <span class="right">Ilimitados</span></li>
																		<li><span class="left">Herramientas
																				disponibles:</span> <span class="right">Registro de
																				pagos, Servicio de mensajería personal</span></li>

																	</ul>

																</div>
															</div>
														</div>
													</div>





												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<div class="section-white pp-scrollable scrollable-contacts section"
			id="contacts">
			<div class="scroll-wrap">
				<div class="scrollable-content">
					<div class="vertical-centred">
						<div class="boxed boxed-inner">
							<div class="vertical-title text-dark hidden-xs hidden-sm">
								<span>Contacto</span>
							</div>
							<div class="boxed">
								<div class="container">
									<div class="intro overflow-hidden">
										<div class="row">
											<div class="col-md-12">
												<h2 class="title-uppercase">Contáctanos</h2>
												<!--s-->
												<div class="contact-info">
													<div class="row-contact-info row">

														<div class="col-contact-info col-md-6 col-lg-4">
															<div class="row">
																<h3 class="col-sm-3 col-md-4">Teléfono</h3>
																<div
																	class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1">

																	<div class="contact-info-row col-sm-6 col-md-12 ">
																		<strong class="text-dark">Support</strong><br>
																		(+51) 01 6454789
																	</div>
																</div>
															</div>
														</div>
														<div class="col-contact-info col-md-6 col-lg-4">
															<div class="row">
																<h3 class="col-sm-3 col-md-4">Visita nuestras redes</h3>
																<div
																	class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1">
																	<div class="contact-info-row col-sm-6 col-md-12">
																		<div class="social-list">
																			<a href="#" class="icon ion-social-twitter"></a> <a
																				href="#" class="icon ion-social-facebook"></a>

																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/smoothscroll.js}"></script>
	<script th:src="@{/js/jquery.pagepiling.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>	
	<script th:src="@{/js/gmap.js}"></script>

	<script th:src="@{/js/scripts.js}"></script>
</body>

</html>
